
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
  font-weight: 400;
}
.nav-logo{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
.logo-studio{
  color: #2e2f42;
}

.nav-link:hover{color: #404BBF}
.naf-link:focus{color: #404bbf;}

.nav-link {
  text-decoration: none;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  

}
.address{
  font-style: normal;
}
.address-link {
  text-decoration: none;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address-link:hover {
  color: #404BBF;
}

ul {
  list-style-type: none;
}

.logo {
  text-decoration: none;
}
.button:hover{
    color: #404BBF;
}
.button{
    color:  #FFFFFF;
    cursor: pointer;
    background-color: #4D5AE5;
}
.h1-button{
  background-color: 
  #2E2F42;
}
h1{
  color: #FFFFFF;
  font-weight: 700;
}

h3{
  font-weight: 500;
}
.our-team{
  background-color: #F4F4FD;
}

footer{
  background-color: #2E2F42;
}

.footer-p{
  color: #F4F4FD;
}